

html, body 
{ 
 height: 100%;
 overflow-x: hidden;
 
}

body {
	font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            color: #333;
            padding: 20px;
			margin: 0;
			
}

iframe {
	width: 100%; /* Ajuste conforme necessário */
	max-width: 1080px; /* Defina a largura máxima do vídeo */
	height: auto; /* Para manter a proporção do vídeo */
	margin-bottom: 20px;
}

.div-video {
	margin: 0 auto;
	margin-bottom: 20px;

 }



/* reel insta */

.instagram-media-container {
	width: 100%;
	max-width: 500px; /* Defina a largura máxima do Reel */
	height: 0;
	padding-bottom: 150.25%; /* Proporção 16:9 para o vídeo */
	position: relative;
	margin: 0 auto; /* Centraliza o Reel na página */
}

.instagram-media {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cta-button {
    display: block; /* Define como bloco para centralizar horizontalmente */
    width: 200px; /* Largura do botão */
    margin: 0 auto; /* Centraliza horizontalmente */
	margin-bottom: 25px;
    text-align: center; /* Alinha o texto ao centro */
    padding: 7px 7px; /* Espaçamento interno */
    background-color: #007bff; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Arredondamento dos cantos */
    text-decoration: none; /* Remove o sublinhado */
}
.cta-button:hover {
	background-color: #cc5500;
}


header {
	padding: 35px 20px;
	text-align: left;

}



.caixa {
    text-align: center; /* Alinha o conteúdo ao centro */
  }
  .logo-aula {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div pai */
    height: auto; /* Mantém a proporção da imagem */
  }
nav {
	position: absolute;
	top: 110px;
	right: 0;

}

nav li {
	display: block;
	margin: 0 0 0 15px;
	text-align: left;
	line-height: 2.5;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}



nav a :hover {
	color: #C78C19;
	text-decoration: underline;
}

.banner {
	width: 100%;
}

main {
	background: linear-gradient(#FEFEFE, #888888);

}


.titulo-principal {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 0 0 1em;
 	clear: left;
 	line-height: 1.5;
}

  .paragrafo {
	font-size: 20px;
	padding: 30px 0;
 	width: 1440px;;
 	line-height: 1.5;
	 max-width: 600px;
	 margin: 0 auto;
}

.paragrafo strong {
	font-weight: bold;
}

.logo-aula {
	width: 750px;
}

.logo2{
	width: 280px;
	display: block;
    margin-left: auto;
    margin-right: auto 


}

.logo2:hover {
	opacity: 0.3;
	transition: 400ms;
}

.principal {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }

.p-metodo {

	margin-bottom: 40px;
}

.imagem-metodo {
	width: 250px;
 	box-shadow: 10px 10px 10px 0 #000000;
 	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;:  
}

.imagem-metodo:hover {
	opacity: 0.3;
	transition: 400ms;
}

.sobreprofessor {
	display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
	margin-bottom: 30px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  th {
    background-color: #007bff;
    color: white;
  }
  th:first-child, td:first-child {
    border-left: 1px solid #ddd;
  }
  th:last-child, td:last-child {
    border-right: 1px solid #ddd;
  }

  li {
	list-style-type: none;
  }

  .tabela-formato {
	background-color: crimson;
  }

  .table-wrapper{
	overflow-x: auto;
  }




footer {
	text-align: center;
	
	padding: 100px 0;
	color: black;


}

footer img {
 	width: 280px;
 	padding: 50px 0 ;



 }

 /* CSS do video.html*/



/* botão Whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* CSS do plano.html*/

 table {
 	margin: 20px 0 40px;
 }

 thead {
 	background: #555555;
 	color: white;
 	font-weight: bold;
 }

 td, th {
 	border: 1px solid #000000;
 	padding: 15px 12px;
 	text-align: center;

 }


 .imagem-depoimento {
    max-width: 65%; /* Tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Exibe a imagem como bloco para centralizar */
    margin: 0 auto; /* Centraliza horizontalmente */
    border: 1px solid #dcdcdc; /* Borda sólida */
    border-radius: 10px; /* Raio do arredondamento da borda */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
	margin-bottom: 70px;
	
	
}

/* Consulta de mídia para ajustar o tamanho da imagem em telas menores */
@media screen and (max-width: 768px) {
    .imagem-depoimento {
        max-width: 100%; /* Altera o tamanho máximo da imagem para ocupar toda a largura da tela em telas menores */
    }

	.cta-button {
        width: 100%; /* Define a largura do botão para ocupar toda a largura da tela em telas menores */
    }
}

 .container {max-width: 700px;}

 .div-video{
 	
 	width: 100%;
	margin: 0 auto;
 	padding-top: 56.26%;
 	position: relative;
	margin-bottom: 20px;


 }

.div-video iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	border-radius: 10px;
	
	

}


 /* CSS contato.html*/

 form {
 	margin: 40px 0 0 45px;
 	width: center;
 }

 form label, form legend {
 	display: block;
 	font-size: 20px;
 	margin-left: auto;
    margin-right: auto;
 	line-height: 1.5;
 }

 .input-padrao {
 	display: block;
 	margin: 0 0 30px;
 	padding: 10px 25px 20px;
 	width: 50%;
 }

 .checkbox {
 	margin: 20px 0;
 }

 .enviar {
 	width: 40%;
 	padding: 15px 0 15px 10px;
 	background: orange;
 	color: white;
 	font-weight: bold;
 	font-size: 20px;
 	border: none;
 	border-radius: 5px;
 	transition: 1s all;
 	cursor: pointer;
 }

 .enviar:hover {
 	background: darkorange;
 	transform: scale(1.2);

 }

 /*CSS quiz.html */

 .chutar {
 	display: block;
 	width: 15%;
 	padding: 15px 0 15px 10px;
 	background: green;
 	color: white;
 	font-weight: bold;
 	font-size: 20px;
 	border: none;
 	cursor: pointer;
 	margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
 	transition: 1s all;
 	cursor: pointer;
 	

 }

.input-notas {
	display: block;
 	margin-left: auto;
    margin-right: auto;
 	padding: 10px 25px 20px;
 	width: 34%;
 	font-size: 20px;
 	text-align: center;


}

.page-logo {
	display: block;
 	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 25%;

}

.page-logo3 {
	display: block;
 	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 12%;

}

.page-logo4 {
	display: block;
 	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 16%;
}


.resultado, .resultado2, .resultado3, .resultado4 {
  color: darkorange;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;

}

/* codigo para Responsivo */

@media screen and (max-width: 520px) {

   h1 img, p, .principal, .banner, .conteudo-beneficios, .mapa-conteudo, .p-metodo, .paragrafo {
        width: auto;
        font-size: clamp(1.75em, 1em, 3vw, 2.5em)
		
		
        
   }

   .container{
	margin: 0 auto;
   }
   

  h1 img, nav  {
  	width: 75%;
  	 font-size: clamp(1.75em, 1em, 3vw, 2.5em)
  	 flex-direction column;

  }

  

  .banner {
  	width: 100%;
  }

  .logo2 {
  	width: 180px;
  	
  }

  .float {
  	bottom: 110px;

  }

  .enviar{
  	width: 80%;
  }

.input-notas {

	width: 70%;
	font-size: 12px;
	text-align: center;
}

.chutar,.page-logo3, .page-logo4 {

	width: 40%;
}

 .page-logo {
 	width: 60%
 }

footer img {
 	width: 150px;
 	padding: 50px 0 ;
 }

 .div-video {
	margin: 0 auto;
 }

  

.div-video iframe{
	
	
	left: 0px;
	

}

 
}

